
<div class="top">
  <h2>ToDos app</h2>
  <h3>by shmuel kohanian</h3>
  <p>07/06/2021</p>
  <div class="row">
    <button>Create New List</button>
    <button>View All Lists</button>
    <button>View All Items</button>
  </div>
</div>



<div class="content">
  <div class="list">
    <i class="fas fas-list"> &#xf0ca; </i>
    <span>2</span>
    <span>Lists</span>
  </div>
  <div class="todo">
    <i class="fas fas-todo"> &#xf00c; </i>
    <span>2</span>
    <span>Todo Items</span>
  </div>
  <div class="active">
    <i class="fas fas-active"> &#xf252; </i>
    <span>2</span>
    <span>Active Items</span>
  </div>
</div>

