<ng-container *ngIf="(list$|async) as list">
  <label class="tytle">
    Lists > {{list.caption}}
  </label>


  <div class="row">
    <span class="fas fas-up" [style.color]="list.color">{{list.image}}</span>

    <div class="dec" *ngIf="!showAskDelete">
      <label>{{list.description}}</label>
      <div class="buttons">
          <button class="myButton" (click)="addList()">New List...</button>
          <button class="myButton" (click)="editList(list.id)">Edit List</button>
          <button class="myButton" (click)="askDelete()">Delete List</button>
      </div>
    </div>

    <div class="dec" *ngIf="showAskDelete">
      <label [style.color]="'red'">Are yoe sure you want to delete the entire list?</label>
      <div class="buttons">
          <button class="myButton" (click)="cancelDelete()">Cancel</button>
          <button class="myButton" (click)="deleteList(list.id)">Delete List</button>
      </div>
    </div>

  </div>


  <ng-container>
    <div *ngFor="let item of (items$|async)">



      <app-todo-item-presenter
        [caption]="item.caption"
        [isCompleted]="item.isCompleted"
        (complete)="updateItem(item , $event)">
      </app-todo-item-presenter>





    </div>





  </ng-container>


  <div class ="row">
    <input class="input-item"  [formControl]="newItemControl">

    <button
    [disabled]="!newItemControl.valid"
    (click)="addNewItem(list.id)"
    class="fas fa-plus-circle addButton"
    [style.color]="newItemControl.valid? 'royalblue' : 'gray'">
    </button>

  </div>
  <div>
    <app-errors-presenter
    [errors]="newItemControl.errors"
   ></app-errors-presenter>
  </div>


</ng-container>








