li {
  list-style: none;
}

p{
  width: fit-content;
  border-radius: 8px;
  margin: 2px;
  padding: 1px 10px 1px 10px}
.AnCorrect{
  border: 3px solid red;
}

.Correct{
  border: 3px solid green;
}
h1{
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin:10px 0 0 15px;
}

.ans{
  background-color: rgb(250, 244, 194);
  border: 3px solid rgb(255, 183, 50);
  border-radius: 10px;
  margin-top: 10px ;
  padding: 1px 10px 1px 10px
}


