
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />



  <form *ngIf="listForm" [formGroup]="listForm" (ngSubmit)="save()">
    <div class="inputs">

      <div>Caption</div>
      <div *ngIf="get('caption') as field">
       <input formControlName="caption" >
       <app-errors-presenter
       [errors]="field.errors"
      ></app-errors-presenter>
      </div>

      <div>Description</div>
      <div *ngIf="get('description') as field">
        <textarea formControlName="description" ></textarea>
        <app-errors-presenter
         [errors]="field.errors"
        ></app-errors-presenter>
       </div>

      <div>Icon</div>
      <div>
        <select class="fas " formControlName="image">
        <option class="fas" [style.font-size.px]="'20'" *ngFor="let icon of iconList" [value]="icon" >{{icon}}
        </option>
      </select>
      </div>

      <div>Color</div>
      <div>
        <select [style.color]="listForm.value.color" [value]="listForm.value.color" formControlName="color">
          <option [style.color]="color"  *ngFor="let color of colorList" [value]="color">{{color}}</option>
        </select>
      </div>

    </div>
    <p>
      <button [disabled]="listForm.invalid">Save</button>
    </p>
  </form>




